{% extends "admin.html" %}

{% block content %}
    <div class="padding-md">
        <h1>{{ title }}</h1>
        <div class="alert alert-info">
            {{ json.status }} - {{ json.motivo }}
        </div>
    </div>
{% endblock %}

