<NFe xmlns="http://www.portalfiscal.inf.br/nfe">
	<infNFe versao="3.10" Id="">
		<ide>
			<cUF>{{ self.emitente.municipio.estado.codigo }}</cUF>
			<cNF>00000000</cNF>
			<natOp>{{ self.natureza_operacao }}</natOp>
			<indPag>{{ self.forma_pagamento }}</indPag>
			<mod>{{ self.modelo_documento }}</mod>
			<serie>{{ self.serie }}</serie>
			<nNF>{{ self.numero }}</nNF>
			<dhEmi>{{ self.data_emissao|date:"Y-m-d" }}T{{ self.data_emissao|date:"H:i:s" }}-03:00</dhEmi>
			<dhSaiEnt>{{ self.data_movimentacao|date:"Y-m-d" }}T{{ self.data_movimentacao|date:"H:i:s" }}-03:00</dhSaiEnt>
			<tpNF>{{ self.tipo }}</tpNF>
			<idDest>{{ self.identificacao_destino }}</idDest>
			<cMunFG>{{ self.emitente.municipio.codigo }}</cMunFG>
			<tpImp>{{ self.tipo_impressao }}</tpImp>
			<tpEmis>{{ self.tipo_emissao }}</tpEmis>
			<cDV>0</cDV>
			<tpAmb>{{ self.tipo_ambiente }}</tpAmb>
			<finNFe>{{ self.finalidade }}</finNFe>
			<indFinal>{{ self.consumidor_final }}</indFinal>
			<indPres>{{ self.presencial }}</indPres>
			<procEmi>{{ self.procedimento }}</procEmi>
			<verProc>{{ self.emitente.versao }}</verProc>
		</ide>
		<emit>
			<CNPJ>{{ self.emitente.cnpj|remover_pontuacao }}</CNPJ>
			<xNome>{{ self.emitente.razao_social }}</xNome>
			<xFant>{{ self.emitente.nome_fantazia }}</xFant>
			<enderEmit>
				<xLgr>{{ self.emitente.logradouro }}</xLgr>
				<nro>{{ self.emitente.numero }}</nro>
				<xBairro>{{ self.emitente.bairro }}</xBairro>
				<cMun>{{ self.emitente.municipio.codigo }}</cMun>
				<xMun>{{ self.emitente.municipio.nome }}</xMun>
				<UF>{{ self.emitente.municipio.estado.sigla }}</UF>
				<CEP>{{ self.emitente.cep|remover_pontuacao }}</CEP>
				<cPais>{{ self.emitente.municipio.estado.pais.codigo }}</cPais>
				<xPais>{{ self.emitente.municipio.estado.pais.nome }}</xPais>
				<fone>{{ self.emitente.telefone_principal|remover_pontuacao }}</fone>
			</enderEmit>
			<IE>{{ self.emitente.ie }}</IE>
			<CRT>{{ self.emitente.crt }}</CRT>
		</emit>
		<dest>
            {% if self.destinatario.pessoafisica %}
                <CPF>{{ self.destinatario.documento|remover_pontuacao }}</CPF>
            {% else %}
			    <CNPJ>{{ self.destinatario.documento|remover_pontuacao }}</CNPJ>
            {% endif %}
			<xNome>{{ self.destinatario.nome }}</xNome>
			<enderDest>
				<xLgr>{{ self.destinatario.logradouro }}</xLgr>
				<nro>{{ self.destinatario.numero }}</nro>
				<xCpl>{{ self.destinatario.complemento }}</xCpl>
				<xBairro>{{ self.destinatario.bairro }}</xBairro>
				<cMun>{{ self.destinatario.municipio.codigo }}</cMun>
				<xMun>{{ self.destinatario.municipio.nome }}l</xMun>
				<UF>{{ self.destinatario.municipio.estado.sigla }}</UF>
				<CEP>{{ self.destinatario.cep|remover_pontuacao }}</CEP>
				<cPais>{{ self.destinatario.municipio.estado.pais.codigo }}</cPais>
				<xPais>{{ self.destinatario.municipio.estado.pais.nome }}</xPais>
				<fone>{{ self.destinatario.telefone_principal|remover_pontuacao }}</fone>
			</enderDest>

			<indIEDest>{{ self.tipo_ie_destinatario }}</indIEDest>
            {% if self.destinatario.pessoajuridica %}
			<IE>{{ self.destinatario.pessoajuridica.ie }}</IE>
            {% endif %}
		</dest>
        {% for item in self.item_set.all %}
		<det nItem="{{ forloop.counter }}">
			<prod>
				<cProd>{{ item.produto.codigo }}</cProd>
				<cEAN />
				<xProd>{{ item.produto.descricao }}</xProd>
				<NCM>{{ item.produto.ncm.codigo|remover_pontuacao }}</NCM>
				<CEST>{{ item.produto.cest|remover_pontuacao }}</CEST>
				<CFOP>{{ item.produto.cfop|remover_pontuacao }}</CFOP>
				<uCom>{{ item.produto.unidade_medida.descricao }}</uCom>
				<qCom>{{ item.quantidade|decimal }}</qCom>
				<vUnCom>{{ item.produto.valor|decimal }}</vUnCom>
				<vProd>{{ item.total|decimal }}</vProd>
				<cEANTrib />
				<uTrib>{{ item.produto.unidade_medida.descricao }}</uTrib>
				<qTrib>{{ item.quantidade|decimal }}</qTrib>
				<vUnTrib>{{ item.produto.valor|decimal }}</vUnTrib>
				<indTot>{% if item.compoe_valor_total %}1{% else %}0{% endif %}</indTot>
			</prod>
			<imposto>
				<vTotTrib>0.00</vTotTrib>
				<ICMS>
					<ICMSSN101>
						<orig>0</orig>
						<CSOSN>101</CSOSN>
						<pCredSN>0.00</pCredSN>
						<vCredICMSSN>0.00</vCredICMSSN>
					</ICMSSN101>
				</ICMS>
				<IPI>
					<cEnq>999</cEnq>
					<IPITrib>
						<CST>99</CST>
						<vBC>1.00</vBC>
						<pIPI>0.00</pIPI>
						<vIPI>0.00</vIPI>
					</IPITrib>
				</IPI>
				<PIS>
					<PISOutr>
						<CST>49</CST>
						<vBC>0.00</vBC>
						<pPIS>0.00</pPIS>
						<vPIS>0.00</vPIS>
					</PISOutr>
				</PIS>
				<COFINS>
					<COFINSOutr>
						<CST>49</CST>
						<vBC>0.00</vBC>
						<pCOFINS>0.00</pCOFINS>
						<vCOFINS>0.00</vCOFINS>
					</COFINSOutr>
				</COFINS>
			</imposto>
		</det>
        {% endfor %}
		<total>
			<ICMSTot>
				<vBC>0.00</vBC>
				<vICMS>0.00</vICMS>
				<vICMSDeson>0.00</vICMSDeson>
				<vBCST>0.00</vBCST>
				<vST>0.00</vST>
				<vProd>{{ self.get_total|decimal }}</vProd>
				<vFrete>0.00</vFrete>
				<vSeg>0.00</vSeg>
				<vDesc>0.00</vDesc>
				<vII>0.00</vII>
				<vIPI>0.00</vIPI>
				<vPIS>0.00</vPIS>
				<vCOFINS>0.00</vCOFINS>
				<vOutro>0.00</vOutro>
				<vNF>{{ self.get_total|decimal }}</vNF>
				<vTotTrib>0.00</vTotTrib>
			</ICMSTot>
		</total>
		<transp>
			<modFrete>9</modFrete>
		</transp>
		<infAdic>
			<infCpl>.</infCpl>
		</infAdic>
	</infNFe>
</NFe>
