{% extends "admin.html" %}

{% block content %}
    <div class="padding-md">
        <h1>{{ title }}</h1>
        <textarea rows="20" readonly="readonly" style="width: 100%">{{ xml }}</textarea>
    </div>
{% endblock %}

